* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  width: 100%;
  max-width: 1920px;
  background-color: #dddddd;
}
.ellipse1 {
  width: 53px;
  height: 53px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 50px;
}
.info {
  margin-right: 30px;
  position: relative;
}
.hoverblackline {
  position: absolute;
  left: 500px;
  top: 130px;
  width: 134px;
  height: 2px;
  background-color: black;
  opacity: 0;
}

.hoverblackline:hover .hoverblackline {
  opacity: 1;
}
.hoverblackline2 {
  position: absolute;
  left: 688px;
  top: 130px;
  width: 178px;
  height: 2px;
  background-color: black;
  opacity: 0;
}
.from-container {
  width: 100%;
  max-width: 926px;
  margin: 0 auto;
}
.form {
  width: 100%;
  max-width: 1226px;
  height: 973px;
  border-radius: 18px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 42px;
}
.input-field {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  padding-top: 88px;
}
.input-field1 {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  /* padding-left: 150px; */
  padding-top: 88px;
}
#username {
  height: 60px;
  border: 1.8px solid blue;
  border-radius: 8px;
}
#surname {
  width: 100%;
  max-width: 407px;
  height: 60px;
  border: 1.8px solid blue;
  border-radius: 8px;
}
.minsimbols {
  font-size: 14px;
  color: gray;
}
#menu1 {
  width: 100%;
  height: 76px;
  margin-top: 36px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.menu1value {
  background-color: white;
}
#menu2 {
  width: 100%;
  height: 76px;
  margin-top: 37px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.input-field3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
#email {
  height: 60px;
  border: 1.8px solid blue;
  border-radius: 8px;
}
.input-field4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
#telnumber {
  height: 60px;
  border: 1.8px solid blue;
  border-radius: 8px;
}
.red {
  border: 1px solid red !important;
}
.form2 {
  width: 100%;
  max-width: 1226px;
  height: 1571px;
  border-radius: 18px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 42px;
}
.next {
  width: 176px;
  height: 60px;
  background-color: #62a1eb;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 150%;
  left: 70%;
}
#myfile {
  width: 100%;
  height: 423px;
  border-radius: 18px;
  background-color: #f6f6f6;
}
#menu3 {
  width: 380px;
  height: 76px;
  margin-top: 85px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.grayline {
  width: 100%;
  height: 5px;
  background-color: #f6f6f6;
  margin-top: 44px;
}
#menu4 {
  width: 276px;
  height: 76px;
  margin-top: 85px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 10px;
}
#CPU-S {
  height: 60px;
  border: 1.8px solid blue;
  border-radius: 8px;
}
.input-field-CPU-S {
  width: 100%;
  max-width: 276px;
  display: flex;
  flex-direction: column;
  padding-top: 88px;
}
.d-flex-S {
  display: flex;
  align-items: center;
}
#checkbox {
  border: 1.8px solid blue;
  border-radius: 8px;
}
.input-field-memory {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  padding-top: 88px;
  padding-right: 120px;
}
#date {
  height: 60px;
  border: 1.8px solid blue;
  border-radius: 8px;
}
.last-compnent-form2 {
  margin-top: 97px;
}
.back {
  position: absolute;
  top: 1670px;
  left: 212px;
  color: blue;
}
.save-button {
  width: 219px;
  height: 60px;
  background-color: #62a1eb;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 16%;
  top: 1650px;
}
.logo-last {
  margin-left: 44%;
  margin-top: 40px;
}
.section-modal {
  width: 100%;
  max-width: 847px;
  height: 537px;
  margin: 0 auto;
  margin-top: 50px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
}
* button {
  cursor: pointer;
  font-size: 25px;
}
.imagepopup {
  width: 100%;
  max-width: 137.46px;
  height: 218.21px;
}
.modal-first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 79px;
}
.button-list {
  width: 297px;
  height: 60px;
  border: none;
  background-color: #62a1eb;
  border-radius: 8px;
  color: white;
  font-size: 25px;
}
.general {
  width: 100%;
  max-width: 88px;
  height: 24px;
  font-size: 20px;
  color: #0089a7;
  margin-top: 28px;
}
section div span {
  font-size: 25px;
}
.form-file {
  width: 195px;
  height: 76px;
  font-size: 20px;
  color: #4386a9;
}
.marginleft100px {
  margin-left: 100px;
}
.memory-tip {
  font-size: 20px;
  margin: 10px;
  width: 200px;
}
.memory {
  font-size: 20px;
  margin: 10px;
  width: 250px;
}
