body {
  width: 100%;
  max-width: 1920px;
}
.container-list-box {
  width: 100%;
  max-width: 1178px;
  margin: 0 auto;
}
.ellipse1 {
  width: 53px;
  height: 53px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 50px;
}
.margintop100px {
  margin-top: 100px;
}
.info {
  margin-right: 30px;
  position: relative;
}
.displayflex {
  display: flex;
}
.list-box {
  width: 100%;
  max-width: 563px;
  height: 205px;
  border-radius: 20px;
  background-color: #eafaff;
  border: 1px;
  align-items: center;
  margin: 0 auto;
}
.imgcomputer {
  width: 100%;
  max-width: 266px;
  height: 178px;
  border-radius: 10px;
}
.margin0auto {
  margin: 0 auto;
}
.list-box-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 0px;
}
.margintop20px {
  margin-top: 20px;
}
.other {
  margin-top: 50px;
  color: blue;
}
.marginbottom50px {
  margin-bottom: 50px;
}
