* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}
button:hover {
  color: pink;
}
a:hover {
  color: pink;
}
.d-flexcenter {
  display: flex;
  justify-content: center;
}
.bodycontainer {
  width: 100%;
  max-width: 1920px;
}
.logoredberry {
  width: 100%;
  max-width: 112px;
  height: 18px;
  margin-top: 79px;
  margin-left: calc(50% - 112px / 2);
}
.photogroup1 {
  width: 100%;
  max-width: 781px;
  height: 482px;
  margin-left: 298px;
  margin-top: 85px;
  border-radius: 0px;
}
.responsivecomputer {
  display: none;
  width: 268.58px;
  height: 349px;
  margin: 0 auto;
}
.button1 {
  width: 100%;
  max-width: 387px;
  height: 60px;
  font-size: 20px;
  color: white;
  background-color: #62a1eb;
  border: none;
  border-radius: 8px;
  gap: 20px;
  margin-left: 480px;
  margin-top: 50px;
  cursor: pointer;
}
.button2 {
  width: 100%;
  max-width: 387px;
  height: 60px;
  font-size: 20px;
  color: white;
  background-color: #62a1eb;
  border: none;
  border-radius: 8px;
  gap: 20px;
  margin-left: 480px;
  margin-top: 26px;
  margin-bottom: 147px;
  cursor: pointer;
}
